/* src/components/Header.css */
.header-container {
  height: 60vh; /* Adjust height to fit your design */
  width: 100%; /* Full width of the container */
  display: flexwrap;
  padding-top: 8dvh;
  margin-right: 20px;

  justify-content: true; /* Center the carousel horizontally */
  align-items: center; /* Center the carousel vertically */
  overflow: hidden; /* Hide overflow to ensure rectangular clipping */
  position: relative; /* For positioning carousel controls */
  border-bottom: 2px solid transparent; /* Add this line */
}

.carousel-item {
  display: flexwrap;
  padding-right: 100;
  justify-content: center; /* Center images horizontally */
  align-items: centr; /* Center images vertically */
}

.carousel-image {
  width: 100vw; /* Width of the image */
  height: 60vh; /* Height of the image */

  object-fit: cover; /* Cover the container */
  transition: transform 0.5s ease, box-shadow 0.5s ease;
  border-radius: 5px; /* Rounded corners for a polished look */
}

.carousel-image:hover {
  transform: scale(1.05); /* Slight zoom effect */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4); /* Enhanced shadow on hover */
}

/* Optional: Style for carousel indicators */
.carousel-indicators {
  bottom: 10px; /* Position indicators */
}

.carousel-indicators li {
  background-color: rgba(255, 255, 255, 0.7); /* Semi-transparent white */
  border-radius: 100%; /* Circular indicators */
}

.carousel-indicators .active {
  background-color: #fff; /* Highlight active indicator */
}
